---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "variables";

@font-face {
    font-family: 'Maison Neue';
    src: url({{site.baseurl}}/fonts/maisonneue-medium.eot);
    src: url({{site.baseurl}}/fonts/maisonneue-medium.eot?#iefix) format('embedded-opentype'),
         url({{site.baseurl}}/fonts/maisonneue-medium.woff2) format('woff2'),
         url({{site.baseurl}}/fonts/maisonneue-medium.woff) format('woff'),
         url({{site.baseurl}}/fonts/maisonneue-medium.ttf) format('truetype'),
         url({{site.baseurl}}/fonts/maisonneue-medium.svg#maison_neuemedium) format('svg');
    font-weight: 400;
    font-style: normal;
}

//reset
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $bg-color;
    font-family: $sans;
    text-align: center;
    font-size: 20px;
}

header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

header:after {
    content: '';
    display: table;
    clear: both;
}

header>.left {
    float: left;
}

header>.right {
    float: right;
}

header svg {
    display: block;
}

header>.right svg {
    margin:5px 5px 0px 0px;
}

.wrapper {
    width: 90vw;
    margin: auto;
}

.portrait, .landscape {
    float: right;
    margin: 0 2.5vw;
    margin-bottom: 5vw;
    visibility: hidden;
}

.portrait {
    width: 40vw;
}

.landscape {
    width: 85vw;
} 

a {
    color: $black;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.credit {
    font-size: 9px;
    color: #999;
}

.serif {
    font-family: $serif;
    font-size: 1.1em;
    font-style: italic;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
}

.intro:after {
    content: '';
    border-left: 1px solid #ddd;
    width: 1px;
    height: 40px;
    display: block;
    margin: auto;
}

.intro>svg {
    margin-bottom: 30px;
}

.intro>p {
    width: 90%;
    margin: 0 auto 1em auto;
    line-height: 1.5em;
    max-width: 560px;
    font-size: 0.8em;
}

.intro>p>a {
    position: relative;
//     display: inline-block;
    border-bottom: 1px solid $black;
}

/*
.intro>p>a:after {
    content: '';
    border-bottom: 1px solid $black;
    height: 1.3em;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

.intro>p>a:hover:after {
    width: 100%;
}
*/

.viewby {
    margin: 30px 0 40px 0;
}

.viewby h4 {
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 2em;
}

.viewby>ul {
    list-style: none;
}

.viewby>ul>li {
    display: inline; line-height: 1.2em;
}

.viewby>ul>li:not(:last-child):after {
	content:' / ';
}

.viewby>ul>li>a {
    position: relative;
}

.viewby>ul>li>a:after {
    content: '';
    border-bottom: 1px solid $black;
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

.viewby>ul>li>a:hover:after {
    width: 100%;
}

.back {
    position: absolute;
    font-size: 0.7em;
    padding: 20px;
    top:80px;
    left:20px;
}

.shop {
    position: fixed;
    top:80px;
    right:20px;
    padding: 20px;
    background: #fff;
    font-size: 0.7em;
    z-index: 999;
}

.project h1 {
    margin: 1.5em auto 0.5em auto;
    font-size: 2.4em;
    line-height: 1.2em;
    max-width: 700px;
}

.project>p:not(.back) {
    margin: 1em auto;
    font-size: 0.9em;
    line-height: 1.5em;
    font-family: $serif;
    max-width: 600px;
}

.project>p.description {
    margin-top: 3em;
}

.project .tags {
    list-style: none;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 auto 3em auto;
}

.project .tags>li {
    display: inline;
}

.project .tags>li:not(:last-child):after {
    content: ' / ';
}

.project>.brands>span>a {
    font-family: $sans;
    font-size: 0.9em;
    position: relative;
    display: inline-block;
}

.project>.brands>span>a:after {
    content: '';
    border-bottom: 1px solid $black;
    height: 1.3em;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}

.project>.brands>span>a:hover:after {
    width: 100%;
}

.project>.brands>span:not(:last-child):after {
    content:', ';
}

.project>.brands>span:last-child:after {
    content: '.';
}

.project>.brands>span:last-child:before {
    content: 'and ';
    font-family: $serif;
    font-size: 1.05em;
}

.project>.brands>span:first-child:before {
    content: '';
}

.project>.images {
    margin-top: 5vw;
}

.images:after {
    display: table;
    content: '';
    clear: both;
}

.project>.images>img {
    margin-bottom: 2em;
}

#products {
    margin: 0 auto 6em auto;
    visibility: hidden;
}

#products>h2 {
    margin: 2vw auto;
}

#products>ul {
    list-style: none;
    width: 100%;
}

#products>ul>li {
    display: inline-block;
    width: 19%;
    margin: 20px 2.5%;
}

#products>ul>li>a {
    display: block;
    width: 100%;
}

#products>ul>li>a>.image {
    display: block;
    height: 25vw;
    max-height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 100%;
}

#products>ul>li>a>.caption {
    display: block;
    margin-top: 2em;
    font-size: 0.7em;
    line-height: 1.3em;
}

#products>ul>li>a>.btn {
    font-size: 0.7em;
    padding: 10px 15px;
    border: 2px solid $black;
    margin: 1em auto;
}

.project-info>ul {
    list-style: none;
    font-size: 10px;
    letter-spacing: 0.2em;
    font-weight: 800;
    text-transform: uppercase;
}

.project-info>ul>li {
    display: inline;
}

.project-info>ul>li:not(:last-child):after {
    content: ' / ';
}

.project-listing, .image-listing {
    margin: 3em 0 4em 0;
}

.project-listing:after {
    display: table;
    content: '';
    clear: both;
}

.project-listing>a {
    position: relative;
}

.project-listing>a>.caption {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate3d(-50%,-55%,0) scale(1.05);
    transition: all .3s ease;
    opacity: 0;
    width: 80%;
    height: 70%;
    max-width: 500px;
    max-height: 500px;
    background: #fff;
    padding: 50px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

.project-listing>a:hover>.caption {
    transform: translate3d(-50%,-55%,0) scale(1);
    opacity: 1;
}

.project-listing>a>.caption .title {
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width: 100%;
    line-height: 1.3em;
    padding: 0 20%;
}

.project-listing>a>.caption .tags {
    position: absolute;
    bottom:50px;
    left:0;
    width: 100%;
}

.image-listing a {
    display: block;
    margin-top: 1em;
    font-size: 0.7em;
}

.image-listing a .tags,
.image-listing a .categories {
    display: none;
}

.image-listing .portrait, .image-listing .landscape {
    float: none;
    margin: auto;
}


//Responsive:

@media screen and (max-width: 768px) {
    .intro {
        font-size: 0.8em;
    }
    .viewby {
        font-size: 0.8em;
    }
    .portrait {
        width: 85vw;
    }
    .project>h1 {
        font-size:1.6em;
        margin-top: 3em;
    }
    .back {
        left: 0;
    }
    .shop {
        position: absolute;
        right: 0;
    }
    #products>ul>li {
        width: 40%
    }
    #products>h2 {
        font-size: 1em;
    }
    .project-listing>a>.caption .title {
        font-size: 0.8em;
    }
    .project-listing>a>.caption {
        padding: 20px;
    }
    .project-listing>a>.caption .tags {
        bottom: 20px;
    }
    .project>p.description, .project>p.brands {
        font-size: 0.8em;
    }
    header svg {
        transform: scale(0.7);
    }
}

