{% for image in site.data.images %}
    {% if image.project == project.title %}
        {% assign image = image %}
        {% break %}
    {% endif %}
{% endfor %}

<article class="{{image.orientation}}">
    <a href="{{ project.url | relative_url }}">
        <ul class="categories">
        {% for category in project.categories %}
            <li>{{category}}</li>
        {% endfor %}
        </ul>
        {{ project.title }} by <span>{{ project.architect }}</span>
        <ul class="tags">
        {% for tag in project.tags %}
            <li>{{tag}}</li>
        {% endfor %}
        </ul>
    </a>
    {% include image.html %}
</article>
