---
layout: project
title: 408 Fernshaw
architect: And Architects
order: 22
categories: []
tags: [dining room, living room, study]
description:  Adding a basement and ground-floor extension to an overlooked interwar semi-detached property to create a series of well-lit generous living spaces
products:
  - name: Ester Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194787/DMI/ester_porada.jpg'
    brand: Porada
  - name: Bolle Lighting
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194786/DMI/bolle.jpg'
    brand: Gallotti & Radice
  - name: Masters Chair	designed by Phillipe Starck
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194788/DMI/kartell_chair.jpg'
    brand: Kartell
  - name: William Chaise Longue designed by Damian Williamson
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194787/DMI/damian-williamson-william-chaise.jpg'
    brand: Zanotta
  - name: Lyn Armchair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194788/DMI/lyn-armchair-alivar_1.jpg'
    brand: Alivar
  - name: Poggio Coffee Table	in Marble
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194789/DMI/poggio-alivar.jpg'
    brand: Alivar
  - name: Kama Rug
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194788/DMI/kama_rug.jpg'
    brand: G.T design
  - name: Ziggy Coffee Table
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194789/DMI/ziggy-porada.jpg'
    brand: Porada
  - name:  Amelie	Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194786/DMI/amelie.jpg'
    brand: Freifrau
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
