---
title: A family house in North London
architect: Vorbild Architecture Ltd
order: 20
tags: [kitchen, dining room]
description:  Refurbishing a mid-terrace house in Kilburn to create additional living space with a new side extension and loft conversion, maximised by a bespoke wooden staircase
products:
  - name: Tripp Trapp
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194789/DMI/Tripp_Trapp_100521-2679_natural_15160.jpg'
    brand: Stokke
  - name: Eames Plastic Side Chair DSW
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194787/DMI/eames_DSW_white.jpg'
    brand: Vitra
  - name: Coolicon Lamp Shade, 280mm
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194787/DMI/galvanised_coolicon_lamp_shade_280mm_1.jpg'
    brand: Urban Cottage Industries
  - name: Bronze Maria Banjo, Wall Light with Shade
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194786/DMI/brass_maria_banjo_wall_light_gloss_black_enamel_1.jpg'
    brand: Urban Cottage Industries
  - name: A Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194789/DMI/tolix.jpg'
    brand: Tolix
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
