---
layout: project
title: Apollo Studios
architect: Southstudio
order: 21
categories: []
tags: [kitchen, living room]
description:  Converting a former piano factory in Kentish Town into a flexible living environment for a working family with inventive use of materials
products:
  - name: Original 1227 Pendant
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194786/DMI/anglepoise_pendant.jpg'
    brand: Anglepoise
  - name: Balzac Armchair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194788/DMI/matthew_hilton_balzac.jpg'
    brand: Matthew Hilton
  - name: String System
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194789/DMI/string-pocket-modular-shelving-system-original-version-manufactured-sweden-design.jpg'
    brand: String
  - name: Industrial Bar Stool
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194788/DMI/industrial_bar_stool.png'
    brand: Blue Suntree
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
