---
layout: project
title: Slab House
architect: Bureau de Change Architects
categories: shortlisted
tags: [living, kitchen]
description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
products:
  - name: La Bibliotheque Fil Bookcase
    image: https://cdn.thinglink.me/api/image/860573711370027008
    url: https://www.ligne-roset.com/uk/modele/storage-furniture/shelving-units/la-bibliotheque-fil/2289
    brand: Ligne Roset
    brandslug:
  - name: Cord Lamp
    image: https://res.cloudinary.com/clippings/image/upload/v1/product_bases/cord-lamp-large-by-design-house-stockholm-design-house-stockholm-form-us-with-love-clippings-2549862.jpg
    brand: Design House Stockholm
    brandslug: design-house-stockholm
  - name: Rotor Occasional Table
    image: https://cdn.thinglink.me/api/image/860573712179527680
    brandslug: Ligne Roset
    brandslug:
  - name: A Chair
    image: https://cdn.thinglink.me/api/image/860574640563552256
    brandslug: Tolix
    brandslug:
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
