---
layout: project
title: Slab House
architect: Bureau de Change Architects
order: 1
categories: shortlisted
tags: [Living, Kitchen]
description:  Forming a new living space, this extension to a house in Clapham comprises a planted concrete waffle roof, with troughs for rooftop planting to soften the volume from the floors above and exposed internally to create beams.
products:
  - name: La Bibliotheque Fil Bookcase
    image: 'https://cdn.thinglink.me/api/image/860573711370027008'
    url: 'https://clippings.com/ligne-roset'
    brand: Ligne Roset
    brandslug: ligne-roset
  - name: Cord Lamp
    image: 'https://res.cloudinary.com/clippings/image/upload/v1/product_bases/cord-lamp-large-by-design-house-stockholm-design-house-stockholm-form-us-with-love-clippings-2549862.jpg'
    url: 'https://clippings.com/products/cord-lamp-large-by-design-house-stockholm-568252'
    brand: Design House Stockholm
    brandslug: design-house-stockholm
  - name: Rotor Occasional Table
    image: 'https://cdn.thinglink.me/api/image/860573712179527680'
    url: 'https://clippings.com/ligne-roset'
    brand: Ligne Roset
    brandslug: ligne-roset
  - name: A Chair
    image: 'https://cdn.thinglink.me/api/image/860574640563552256'
    url: 'https://clippings.com/tolix'
    brand: Tolix
    brandslug: tolix
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
