---
title: Coolhurst Road
architect: Alexander Martin Architects
order: 30
categories: []
tags: [dining room, kitchen]
description: A three-storey side extension focuses on providing a lateral arrangement with the living spaces of the main house, whilst enhancing the visual relationship of the occupiers to the surroundings
products:
  - name: Caravaggio P4 pendant light by Cecilie Manz
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/Caravaggio-Black-P0.png'
    brand: Light Years
  - name: Eero Saarinen Tulip Table
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/tulip_table.jpg'
    brand: Knoll International
  - name: Eclipse Round 250
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/astro2.jpg'
    brand: Astro
  - name: Eero Saarinen Tulip Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/tulip-side-chair.jpg'
    brand:  Knoll International


---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
