---
title: Fern House
architect: Moxon Architects
order: 40
tags: [dining room, kitchen, living room]
description: Fully refurbishing a semi-detached Victorian townhouse in a conservation area in Camberwell, this project has integrated a weathered steel ground floor rear and side extension with a verdant garden
products:
  - name: Bridge Extending Dining Table designed by Matthew Hilton
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276372/DMI/Bridge-table.jpg'
    brand: Case
  - name: CH20 Elbow Chair designed by Hans Wenger
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276377/DMI/elbow-chair.jpg'
    brand: Carl Hansen
  - name: Lazytime Two Seat Sofa
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276390/DMI/lazytime.png'
    brand: Camerich
  - name: Barcelona Relax Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276316/DMI/barcelona-chair.jpg'
    brand: Knoll International

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
