---
title: Gallery House
architect: Neil Dusheiko Architects
order: 27
categories: []
tags: [dining room, kitchen, hallway ]
description: Creating spaces for enjoyment, this project has formed a light-filled sociable gallery space at ground floor to showcase the client’s large collection of paintings, and made the most of panoramic views of Clissold Park upstairs
products:
  - name: Mega Bulb Pendant SR2
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194672/DMI/Mega-Bulb-SR2.jpg'
    brand: Sofie Refer
  - name: Tube Short Track GU10
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/16576_tkshtube-white_550.jpg'
    brand: Mr Resistor
  - name: Utzon Lamp in Copper, Jorn Utzon
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/UTZON.copper.hs_2048x2048.jpg'
    brand: Andtradition

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
