---
title: Wearside
architect: Gruff
order: 11
categories: [shortlisted]
tags: [Dining, Kitchen]
description: The replacement of a dated and unstable lean-to at the rear of a mid-terrace house in Ladywell created a light kitchen/diner that opens onto the garden, with a timber pergola helping to shade the glazing.
products:
  - name: Wishbone Chair
    image: 'https://cdn.thinglink.me/api/image/860938858810834944'
    url: https://clippings.com/carl-hansen-son
    brand: Carl Hansen &amp; Søn
  - name: Dining Table One
    image: 'https://cdn.thinglink.me/api/image/860953183361433600'
    url: https://clippings.com/another-country
    brand: Another Country
  - name: Hooked 3.0 Pendant
    image: 'https://cdn.thinglink.me/api/image/860937955886235648'
    brand: Buster and Punch
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
