---
layout: project
title: Double Concrete House
architect: Inter Urban Studios
order: 8
categories: [shortlisted]
tags: [Living, Kitchen]
description: Redefining a semi-detached house in Clapham with concrete textures, replacing a dark, cellular ground floor with a concrete and glass finished garden extension.
products:
  - name: Mimosa Pendant
    image: https://cdn.thinglink.me/api/image/862312820232945666
    url: https://clippings.com/products/mimosa-pendant-by-atelier-areti-1006482?variation=14078232
    brand: Atelier Areti
    brandslug: atelier-areti
  - name: Cross Table
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/product_bases/cross-extending-table-by-case-furniture-case-furniture-matthew-hilton-clippings-5052752.jpg
    url: https://clippings.com/products/cross-extending-table-by-case-furniture-719542?variation=13791292
    brand: Case Furniture
    brandslug: case-furniture
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
