---
layout: project
title: Islington Maisonette
architect: Larissa Johnston Architects
order: 28
categories: []
tags: [Dining, Kitchen]
description: Located in a conservation area in Islington, this Victorian maisonette has been reconfigured and extended, to convert a previously dark, segmented property into a light, spacious and modern family home
products:
  - name: CH24 Wishbone Chair by Hans Wenger
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194677/DMI/wishbone-white.jpg'
    brand: Carl Hansen

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
