---
title: Park House
architect: Lipton Plant Architects
order: 6
categories: [shortlisted]
tags: [Dining]
description: Updating an end-of-terrace Islington townhouse for a variety of family needs, this two-storey glass rear extension creates spaces for both quiet and sociable activities across two floors.
products:
  - name: Eames RAR Plastic Rocking Chair
    image: 'https://cdn.thinglink.me/api/image/861262617035931648'
    brand: Vitra
  - name: Flint Cushion
    image: 'https://cdn.thinglink.me/api/image/861305036129435648'
    brand: Flock
  - name: Wide Plein Air Vase
    image: 'https://cdn.thinglink.me/api/image/861301408429768704/1024'
    brand: Broste Copenhagen
  - name: Star Mobile
    image: 'https://cdn.thinglink.me/api/image/861306438302040064'
    brand: Livingly
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
