---
title: Notch House
architect: Platform 5 Architects
order: 31
categories: []
tags: [dining room, kitchen]
description: The terraced house and pavilion style extension has been notched to create a sequence of framed internal spaces and glazed voids to link the interior with elements of the garden
products:
  - name: D-Bar Chair Slatted
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/D-Bar_Chair_Slatted_2_grande.jpg'
    brand: Unto This Last
  - name: No.B9 Le Corbusier Chair with Natural Oak finish
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/thonet.jpg'
    brand: Thonet

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
