---
layout: project
title: Molyneux Street
architect: Patrick Lewis Architects
order: 12
categories: [shortlisted, winners]
tags: [Dining]
description: A chestnut shingle-clad extension to the rear of a Grade II listed Georgian house in Edgware, creating an interior treehouse that acts as a lantern, flooding light into the home.
products:
  - name: Chair No. 18
    image: 'https://cdn.thinglink.me/api/image/861019023259729920'
    brand: Gebrüder Thonet Vienna
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
