---
title: Primrose Hill Flat
architect: Amos Goldreich Architecture
order: 33
tags: [dining room, kitchen]
description: Fulfilling the clients brief and desires - a once dark and rather gloomy 60 square meter flat in North London is transformed into a bright and spacious apartment
products:
  - name: CH388 Dining table, soaped oak finish
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/ch388_table.jpg'
    brand: Carl Hanson
  - name: CH29 Sawbuck Dining Chair, soaped oak	finish
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194672/DMI/ch29_sawbuck_chair.jpg'
    brand: Carl Hanson
  - name: Ikono Light, white, large
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/ikono-pendant.png'
    brand: Normann Copenhagen
  - name: HM26 two seater sofa
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/hm26b-2-seat-sofa.jpg'
    brand: Hitch Mylius
  - name: Tray Square Side Table
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/tray-square-side-table.jpg'
    brand: Hay
  - name: Utzon pendant light in white by Jorn Utzon
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/utzon-white.jpg'
    brand: Andtradition
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
