---
title: My project
architect: West Archs
categories: shortlisted winner
tags: [dining room, bedroom]
description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
products:
  - name: Test product
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/products/mammoth-fluffy-chair-forest-wool-norr11-knut-bendik-humlevik-rune-krojgaard-clippings-8654491.jpg
    url: https://clippings.com
    brand: Normann Copenhagen
    brandslug: normann-copenhagen
  - name: Test product 2
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/products/mammoth-fluffy-chair-forest-wool-norr11-knut-bendik-humlevik-rune-krojgaard-clippings-8654491.jpg
    url: https://clippings.com
    brand: HAY
    brandslug: hay
---


<a href="{{site.baseurl}}/">Back</a>

<ul>
{% for category in page.categories %}
    <li>{{category}}</li>
{% endfor %}
</ul>

<h1>{{ page.title }} by {{ page.architect }}</h1>

<ul>
{% for tag in page.tags %}
    <li>{{tag}}</li>
{% endfor %}
</ul>

<p>{{ page.description }}</p>

<p>Brands included in this project;
{% for product in page.products %}
    <a href="https://clippings.com/{{product.brandslug}}">{{product.brand}}</a>
{% endfor %}
</p>

<section class="images">
    
{% for image in site.data.images %}
    {% if image.project == page.title %}
        {% include image.html %}
    {% endif %}
{% endfor %}

</section>

<section id="products">

<h2>Shop the look on Clippings</h2>

{% for product in page.products %}
    <a href="{{product.url}}">
        <img src="{{product.image}}" alt="{{product.brand}}">
        <span>{{product.name}} by {{product.brand}}</span>
        <span class="btn">Shop now</span>
    </a>
{% endfor %}

</section>
