---
layout: project
title: Wearside
architect: Your mum
categories: shortlisted
tags: [kitchen, dining room]
description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
products:
  - name: Test product
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/products/mammoth-fluffy-chair-forest-wool-norr11-knut-bendik-humlevik-rune-krojgaard-clippings-8654491.jpg
    url: https://clippings.com
    brand: Normann Copenhagen
    brandslug: normann-copenhagen
  - name: Test product 2
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/products/mammoth-fluffy-chair-forest-wool-norr11-knut-bendik-humlevik-rune-krojgaard-clippings-8654491.jpg
    url: https://clippings.com
    brand: HAY
    brandslug: hay
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
