---
layout: project
title: Qew House
architect: Hermantes Basha
order: 34
categories: []
tags: [Dining, Living, Kitchen]
description: Transformation of a neglected Victorian Terrace into a sophisticated, light filled, wholly liveable space providing some unique touches for a warm family homewith essential connectivity to the outdoors
products:
  - name: Eureka Hanging Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/eureka.jpg'
    brand: Bonacina
  - name: PK22 Lounge chair by Poul Kjærholm
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/PK22_Canvas_Natural_png.png'
    brand: Fritz Hansen
  - name: Fat Fat Tables in White
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/min-fat-fat.jpg'
    brand: B&B Italia
  - name: Mags Sofa
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194672/DMI/Mags_sofa.jpg'
    brand: Hay
  - name: Tilt Pendant Light
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/nyta-tilt.jpg'
    brand: NYTA
  - name: Ingrid Rug in Stone Grey
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/kasthall_rug_ingrid.jpg'
    brand: Kasthall
  - name: Grasshopper Floor Lamp
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/grasshopper.jpg'
    brand: GUBI
  - name: Semi Pendant Light, Matt Black
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/semi-pendant-light.jpg'
    brand: GUBI
  - name: No.B9 Le Corbusier Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/thonet.jpg'
    brand: Thonet

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
