---
layout: project
title: Delawyk Modular House
architect: R2 Studio Architects
categories: shortlisted
tags: [Living, Kitchen]
description: Refurbishing a compact 1960s terraced house in Herne Hill with new modular front extension, creating small-scale interventions to adjust the internal spaces to modern family life without distorting the integrity of the original aesthetic.
products:
  - name: Caravaggio P2 Pendant Light
    image: 'https://cdn.thinglink.me/api/image/861309567454150656'
    brand: Lightyears
  - name: Fresnel Ceiling Light
    image: 'https://cdn.thinglink.me/api/image/861310559251857408'
    brand: Oluce
  - name: Eames DCW Chair
    image: 'https://cdn.thinglink.me/api/image/861311471630417920'
    brand: Vitra
  - name: Miura Stool
    image: 'https://cdn.thinglink.me/api/image/861312426681827328'
    brand: PLANK
  - name: LOFT D6440 Lamp
    image: 'https://cdn.thinglink.me/api/image/861314704339894272'
    brand: Jieldé
  - name: Bertoia Bird Chair
    image: 'https://cdn.thinglink.me/api/image/861316059024588800'
    brand: Knoll International
  - name: Bertoia Bird Ottoman
    image: 'https://cdn.thinglink.me/api/image/861316055899832320'
    brand: Knoll International
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
