---
title: Scenario House
architect: Scenario Architecture
order: 39
categories: []
tags: [dining room, kitchen, living room]
description: A Victorian house is completely renovated, extended and adapted to the scenarios of the architects' own family life
products:
  - name: MY Lounge Chair
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276334/DMI/My-woodnotes.jpg'
    brand: Woodnotes
  - name: Double Brass Wall Sconce
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276322/DMI/double-brass-sconce.jpg'
    brand: One Fourty Three
  - name: Belleville Chair, Ronan &amp; Erwan Bouroullec
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276479/DMI/belleville-vitra.jpg'
    brand: Vitra
  - name: Flori Brass Pendant
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485276343/DMI/flori-brass.jpg'
    brand: Rowen and Wren
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
