---
layout: project
title: Clay House
architect: Simon Astridge Architecture Workshop
categories: shortlisted
tags: [Kitchen, Bedroom]
description: Conceived as a series of verbs and actions that occur within the spaces, this one-bedroom flat in Tufnell Park has been recreated with spaces for dreaming, sleeping, bathing, cooking, dwelling and gathering.
products:
  - name: SofaBed
    image: https://cdn.thinglink.me/api/image/861021638894813184
    url: https://clippings.com/harri-koskinen-works
    brand: Harri Koskinen Works
    brandslug: harri-koskinen-works
  - name: J77 Chair
    image: https://res.cloudinary.com/clippings/image/upload/t_big/v1/products/j77-chair-grey-hay-folke-palsson-clippings-1286001.jpg
    url: https://clippings.com/products/j77-chair-184001?variation=556621
    brand: HAY
    brandslug: hay
  - name: Don't Leave Me Side Table
    image: https://res.cloudinary.com/clippings/image/upload/v1/products/dont-leave-me-side-table-grey-small-hay-thomas-bentzen-clippings-1285111.jpg
    url: https://clippings.com/products/dont-leave-me-side-table-183961?variation=556361
    brand: HAY
    brandslug: hay
  - name: Bed Plus Storage
    image: https://cdn.thinglink.me/api/image/861024486319718400
    url: https://clippings.com/unto-this-last
    brand: Unto This Last
    brandslug: unto-this-last
  - name: Plant Box
    image: https://cdn.thinglink.me/api/image/861025868334497792
    url: https://clippings.com/ferm-living
    brand: Ferm Living
    brandslug: ferm-living
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
