---
layout: project
title: Sunken Bath Project
architect: Studio 304 Architecture
categories: shortlisted
tags: [Kitchen]
description: Adding a new copper-lined kitchen and dining area to a ground floor flat in Clapton, this project was centred on creating separate toilet and shower rooms in order to create a standalone bathroom to facilitate ritual bathing.
products:
  - name: Walnut Pendant Light
    image: 'https://cdn.thinglink.me/api/image/861033726287544320'
    brand: nordlux
  - name: Dining Table and Chairs
    image: 'https://cdn.thinglink.me/api/image/861266688904003584'
    brand: David Blair Ross
  - name: Concrete Planter
    image: 'https://cdn.thinglink.me/api/image/861273060739645440'
    brand: Conpot
  - name: Smooth Pillar Light
    image: 'https://cdn.thinglink.me/api/image/861277691070906368'
    brand: Et Lumiere
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
