---
title: The Study House
architect: Studio 30 Architects
order: 4
categories: [shortlisted]
tags: [Living, Dining, Kitchen]
description: Re-modelled loft and part double-height glazed rear extension to a neglected terrace house in New Cross, creating a juxtaposition between the original Victorian building and the expansive double-height contemporary extension.
products:
  - name: Beat Pendant Light
    image: https://cdn.thinglink.me/api/image/861029427847364608
    brand: Tom Dixon
    brandslug:
  - name: Beat Fat Pendant Light
    image: 'https://cdn.thinglink.me/api/image/861291410895142912'
    brand: Tom Dixon
  - name: Eames DAW Plastic Armchair
    image: 'https://cdn.thinglink.me/api/image/861294697161687040'
    brand: Vitra
  - name: Eames DKR Wire Side Chair
    image: 'https://cdn.thinglink.me/api/image/861295807914049536'
    brand: Vitra
  - name: Eames DSW Plastic Side Chair
    image: 'https://cdn.thinglink.me/api/image/861296056476893184'
    brand: Vitra
  - name: Potence Wall Light
    image: 'https:////cdn.thinglink.me/api/image/862312820597850114'
    brand: Vitra
  - name: Cylinda Coffee Set
    image: 'https://cdn.thinglink.me/api/image/861289413571772416'
    brand: Stelton
  - name: Eames House Bird
    image: 'https://cdn.thinglink.me/api/image/861031524051451904'
    brand: Vitra
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
