---
title: Sydney Road Extension
architect: 50 Degrees North
order: 35
tags: [Dining, Kitchen]
description: A modern L shaped ground floor extension with associated internal alterations and space planning to yield a family kitchen/dining/snug space with integral storage throughout
products:
  - name: Bolt Solid Wood &amp; Metal Dining Table
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/BOlt.png'
    brand: Amode
  - name: Eames Plastic Side Chair DSW
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194787/DMI/eames_DSW_white.jpg'
    brand: Vitra
  - name: Hooked 3.0 Nude
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194672/DMI/buster-punch.jpg'
    brand: Buster and Punch
  - name: Welles Kitchen Stool
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194674/DMI/orson_stool.jpg'
    brand: Swoon Editions

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
