---
layout: project
title: The Wee House
architect: Joe Wright Architects
order: 36
categories:
tags: [Living]
description: From sparse bedsit to bijou home - extensions allow comfortable and practical living in this mini Central London house
products:
  - name: Eclipse Round 250
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/astro2.jpg'
    brand: Astro
  - name: Lamino Chair, in oak and sheepskin, designed by Yngve Ekstrom
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194676/DMI/swedese-lamino.jpg'
    brand: Swedese
  - name: Parabol Table
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194674/DMI/parabol.jpg'
    brand: Composition Designs            

---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
