---
layout: project
title: Tower Hamlets Tandem
architect: Architecture for London
order: 37
categories:
tags: [dining room, kitchen]
description: This simultaneous double-extension project benefits from twinned planning submissions and shared design and construction costs, while still offering each individual project its own distinct contemporary identity
Products:
  - name: Cross Extending Dining Table by Matthew Hilton
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194673/DMI/cross-extending-table.jpg'
    brand: Case
  - name: Profile Chair by Matthew Hilton
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194675/DMI/profile-chair.jpg'
    brand: Case
  - name: 265 Wall Light
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/265-wall-light.png'
    brand: FLOS
  - name: Betospot 001 Pendant luminaire
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194672/DMI/betospot-1.jpg'
    brand: deutscheCraft
  - name: Plumen 001 with Drop Cap Black
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194674/DMI/drop-cap-plumen.jpg'
    brand: Plumen
  - name: Masters Chair by Philippe Starck
    image: 'http://res.cloudinary.com/clippings/image/upload/v1485194671/DMI/kartell_masters.jpg'
    brand: Kartell
---

{% include project/body.html %}
{% include project/images.html %}
{% include project/products.html %}
