<footer>
    
    <!-- Begin Signup Form -->
    <div id="signup">
        
        <h2>Get the look</h2>
        
        <p>For help with sourcing furniture and lighting for your own project, enter your details below and Clippings concierge will get back to you with suggestions.</p>
        
        <form action="https://formspree.io/support@clippings.com" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="signup_scroll">
        	
        <div class="mc-field-group">
        	<label for="mce-EMAIL">Email address* </label>
        	<input type="email" value="" name="email" class="required email" id="mce-EMAIL" required>
        </div>
        <div class="mc-field-group">
        	<label for="mce-NAME">Name </label>
        	<input type="text" value="" name="name" class="" id="mce-NAME">
        </div>
        <div class="mc-field-group">
        	<label for="mce-PHONE">Phone </label>
        	<input type="text" name="phone" class="" value="" id="mce-PHONE">
        </div>
        <div class="mc-field-group">
        	<label for="mce-ENQUIRY">How can we help? </label>
        	<textarea type="text" value="" name="enquiry" class="" id="mce-ENQUIRY"></textarea>
        </div>
        <div class="clear">
            <input type="hidden" name="_subject" value="Don't Move, Improve! Enquiry" />
            <input type="hidden" name="_next" value="{{site.baseurl}}/#thanks" />
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" value="Send enquiry" id="mc-embedded-subscribe" class="button">
        </div>
            
            </div>
        </form>
    </div>
    
    <!--End signup-->
    
    <!-- Thanks -->
    <div id="thanks">
        <div class="modal">
            <a class="close" href="##">&times;</a>
            <h2>Thank you for your enquiry,<br>concierge will be in touch shortly.</h2>
            <p>While you wait, discover millions of furniture and lighting products on Clippings:</p>
            <a style="background-image: url('{{site.baseurl}}/img/chairs.jpg');" href="https://clippings.com/shop/chairs" target="_blank" class="shopping"><span class="title">Chairs</span><span class="action">Shop now</span></a>
            <a style="background-image: url('{{site.baseurl}}/img/stools.jpg');" href="https://clippings.com/shop/stools" target="_blank" class="shopping"><span class="title">Stools</span><span class="action">Shop now</span></a>
            <a style="background-image: url('{{site.baseurl}}/img/pendants.jpg');" href="https://clippings.com/shop/pendant-lights" target="_blank" class="shopping"><span class="title">Pendants</span><span class="action">Shop now</span></a>
        </div>
    </div>
    
</footer>

<!-- make reveal calls last -->
<script>
  sr.reveal('.portrait');
  sr.reveal('.landscape');
  sr.reveal('#products>ul>li', 200);
  sr.reveal('#signup');
</script>
