<h2>View by project</h2>
<a href="{{site.baseurl}}/">View all</a>

<h2>View by room</h2>
{% include tags.html %}
{% for project in site.projects %}
    {% if project.title == image.project %}
    <article class="{{ image.orientation }}" style="background: red; margin: 20px; padding:20px;">
        {% include image.html %}
        <a href="{{ project.url | relative_url }}">
            <ul class="categories">
            {% for category in project.categories %}
                <li>{{category}}</li>
            {% endfor %}
            </ul>
            {{ project.title }} by <span>{{ project.architect }}</span>
            <ul class="tags">
            {% for tag in project.tags %}
                <li>{{tag}}</li>
            {% endfor %}
            </ul>
        </a>
    </article>
    {% endif %}
{% endfor %}
