---
layout: default
---
<a class="back" title="View all Don't Move, Improve! projects" href="{{ site.baseurl }}/">&larr; Back to all projects</a>
<section class="intro room">
    <h1>{{ page.alternative_name }}</h1>
    <p>Explore selected Don't Move, Improve! 2017 {{ page.alternative_name | downcase }}, find inspiration for your own project and discover the <a title="Shop designer furniture" href="https://clippings.com/shop/furniture" target="_blank">furniture</a> and <a title="Shop designer lighting" href="https://clippings.com/shop/lighting" target="_blank">lighting</a> pieces that bring these spaces to life.</p>
</section>
{% include categories.html %}
{% include tags.html %}
<section class="image-listing">
{% for image in site.data.images %}
    {% for tag in image.tags %}
        {% if tag == page.slug %}
            {% include image_listing.html %}
        {% endif %}
    {% endfor %}
{% endfor %}
</section>
